
<%- include("partials/header"); -%>  
<h1>Hello World</h1>
<p> <%= content %> </p>

<%  posts.forEach(element => { %>
    <h1> <%= element.title  %>  </h1>
    <p class="list"> <%= element.content.substring(0,100)+" ... "  %>  </p>
  
    <a href="/posts/<%= element.title.toLowerCase()  %>">Read More</a>
    <% }) %> 
<div>
    <a href="/compose"><button type="button" class="btn btn-primary">Compose</button></a>
</div>

<%- include("partials/footer"); -%>   